body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
}

span.image-wrapper {
  float: left;
  margin: 5px;
}

#sidebar {
  width: 300px;
  background-color: #f2f2f2;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#mapPopup {
  width: 200px;
  height: 200px;
  position: absolute;
  display: none;
}

#summary-output {
  display: none;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
}

#content {
  flex: 1;
  padding: 20px;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.progress-container {
  width: 25px; /* Size of the container */
  height: 25px; /* Size of the container */
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-circle {
  border: 2px solid #f3f3f3; /* Light grey background */
  border-top: 2px solid #3498db; /* Blue color for the progress arc */
  border-radius: 50%; /* Makes it a circle */
  width: 20px; /* Size of the circle */
  height: 20px; /* Size of the circle */
  animation: spin 1s linear infinite; /* Rotate animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
